<div class="sticky z-10 top-0 w-full border-b border-primary-600 bg-stone-200">
  <div class="max-w-8xl mx-auto">
    <div class="px-8 py-4">
      <a href="/" class="font-medium no-underline">{{ config.libraryName }}</a>
    </div>
  </div>
</div>
