<div class="basis-60 relative px-8 pt-8">
  <ul class="fixed">
    <li><a href="/">Read</a></li>
    <!--<li><a href="/">Favourites</a></li>
    <li><a href="/">All books</a></li>
    <li><a href="/">Bookshelves</a></li>-->
  </ul>
</div>
